{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard - Lecturer_Student Note Repository</title>
</head>
<body>
    <header>
        <div class="container">
                <h1>Welcome {{ user.username }}</h1>
            <nav>
                <ul>
{#                    <li><a href="#">User Profile</a></li>#}
                    <li><input type="text" placeholder="Search"></li>
                    <li><a href="{% url 'feedback' %}">Feedback</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="actions">
            <div class="download">
                {% if user.is_authenticated %}
                    {% if user.profile.category == "Student" %}
                        <div>
                            <h2>Empower Your Studies</h2>
                            <p>Welcome to the Lecturer-Student Notes Repository. Access your notes anytime, anywhere.</p>
                            <p>Empower your studies with our repository. Stay organized and efficient.</p>
                            <a href="{% url 'note_list' %}" class="button">View Notes</a>
                        </div>
                    {% elif user.profile.category == "Lecturer" %}
                        <div>
                            <h2>Stay Connected with Your Students</h2>
                            <p>Welcome to the Lecturer-Student Notes Repository. Upload notes anytime, anywhere.</p>
                            <p>Stay close with your students through our repository. Enhance collaboration and learning.</p>
                            <a href="{% url 'note_list' %}" class="button">View Notes</a>
                        </div>
                        <div class="upload">
                            <h3>Upload Notes</h3>
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <form method="POST" enctype="multipart/form-data" action="{% url 'upload' %}">
                                {% csrf_token %}
                                <input type="text" id="title" name="title" placeholder="Title" required>
                                <input type="file" id="noteFile" name="noteFile" required>
                                <button type="submit" class="button">Upload Notes</button>
                            </form>
                        </div>
                    {% endif %}
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>
