{% load static %}
<link rel="stylesheet" href="{% static 'loginn.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div class="new">
        <ul>
            <li><a href="{% url 'home' %}" > HOME</a></li>
            <li><a href="{% url 'sinup' %}">SINUP</a></li>
        </ul>
    <div class="top">
    <div class="main">
        <div class="upper">
            <div class="left">
                <h2 >Lecturer-Student</h2>

            </div>
            <div class="right">
                <button class="btn1">notes</button>
            </div>

        </div>
        <div class="body">
{#            <p>Forgot your password?<a href="{% url 'password_reset' %}">Recover Now</a></p> #}
            <p>You don't have an account?<a href="{% url 'sinup' %}">Sign Up</a></p><br><br>
            {%  for message in messages %}
            <h3> {{ message }}</h3>
            {% endfor %}
             <form action="{% url 'login' %}" method="POST">
                 {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required><br><br>
                <input type="password" name="password" placeholder="Password" required><br>
                 <input type="checkbox" class="check">
                    <p class="rp"> Remember me</p>
                <input type="submit" value="Login" class="login">

             </form>
        </div>

    </div>
</div>
</div>
</body>
</html>
